/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
  background: black;
  color: white;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: black;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar h1 {
  font-size: 3rem;
  font-family: cursive;
  color: white;
}


.hero {
  width: 100%;
  height: 90vh;
  border-radius: 5px;
}

.maincontent {
  display: flex;
  flex-flow: row nowrap;
  margin: 5%;
  color: white;
}

.descriptions {
  width: 50%;
  padding: 2%;
}

.packages {
  width: 50%;
  padding: 2%;
}

.descriptions h1 {
  font-size: 3rem;
}
ul {
  padding-bottom: 3%;
}
li {
  font-size: 1.6rem;
  line-height: 1.8;
  list-style-type: disc;
  list-style-position: inside;
}

h3 {
  padding-bottom: 5%;
}

p {
  padding-bottom: 5%;
}

.boarder {
  border: 1px gold solid;
  border-radius: 15px;
  padding: 1%;
  margin: 1%;
}

.about-maincontent {
  display: flex;
  justify-content: center;
  align-items: center;
}



.footerBtmCnt {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerh3 {
  font-family: cursive;
  font-size: 3rem;
}
.footerEnd {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.phone-number {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
